.post {
  display: flex;
  margin: 20px 30px;
  background: #171147;
  transition: transform 0.2s;
  border-radius: 10px;

  &:hover {
    background: #1e1751;
    transform: translateX(10px);
  }
}

.post__votes-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #172b56;
  text-align: center;
}

.post__upvote {
  color: #62a861;
  padding: 5px 10px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #151521;
    cursor: pointer;
  }
}

.post__downvote {
  color: #d34545;
  padding: 5px 10px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #151521;
    cursor: pointer;
  }
}

.post__score {
  font-size: 20px;
  margin: 5px 0;
  color: white;
}

.post__thumbnail {
  img {
    width: 120px;
    display: block;
  }
}

.post__details {
  padding: 10px 10px 10px 0;

  h3 {
  color: #e0e0e0;
  margin: 0 0 10px 10px;
  font-size: 26px;
  cursor: pointer;
  }
}

.post__submission-details {
  color: #a5a5a5;
  margin: 10px;
}

.post__links {
  color: #a5a5a5;
  margin: 10px 0;

  span {
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.2s;
  }

  span:hover {
    background-color: #151521;
  }
}